# 1- preparing dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../csv-files/7282_1.csv")
df.head()

,address,categories,city,country,latitude,longitude,name,postalCode,province,reviews.date,reviews.dateAdded,reviews.doRecommend,reviews.id,reviews.rating,reviews.text,reviews.title,reviews.userCity,reviews.username,reviews.userProvince
0,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-09-22T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,4.0,Pleasant 10 min walk along the sea front to th...,Good location away from the crouds,NaN,Russ (kent),NaN
1,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-04-03T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Really lovely hotel. Stayed on the very top fl...,Great hotel with Jacuzzi bath!,NaN,A Traveler,NaN
2,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2014-05-13T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Ett mycket bra hotell. Det som drog ner betyge...,Lugnt l��ge,NaN,Maud,NaN
3,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-10-27T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,We stayed here for four nights in October. The...,Good location on the Lido.,NaN,Julie,NaN
4,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-03-05T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,We stayed here for four nights in October. The...,������ ���������������,NaN,sungchul,NaN

In [3]:
df = df[df.categories=="Hotels"]
df.head()

,address,categories,city,country,latitude,longitude,name,postalCode,province,reviews.date,reviews.dateAdded,reviews.doRecommend,reviews.id,reviews.rating,reviews.text,reviews.title,reviews.userCity,reviews.username,reviews.userProvince
0,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-09-22T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,4.0,Pleasant 10 min walk along the sea front to th...,Good location away from the crouds,NaN,Russ (kent),NaN
1,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-04-03T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Really lovely hotel. Stayed on the very top fl...,Great hotel with Jacuzzi bath!,NaN,A Traveler,NaN
2,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2014-05-13T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Ett mycket bra hotell. Det som drog ner betyge...,Lugnt l��ge,NaN,Maud,NaN
3,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-10-27T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,We stayed here for four nights in October. The...,Good location on the Lido.,NaN,Julie,NaN
4,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-03-05T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,We stayed here for four nights in October. The...,������ ���������������,NaN,sungchul,NaN

In [4]:
df.to_csv("../csv-files/just_hotels_catg.csv", index=False)

#### EDA

In [5]:
df.shape

(21420, 19)

In [6]:
df.describe()

,latitude,longitude,reviews.doRecommend,reviews.id,reviews.rating
count,21386.000000,21386.000000,0.0,0.0,21370.000000
mean,36.442980,-83.350867,NaN,NaN,3.664483
std,7.827689,39.268093,NaN,NaN,1.351322
min,-25.436750,-159.481416,NaN,NaN,0.000000
25%,33.529422,-109.547157,NaN,NaN,3.000000
50%,37.352307,-88.297272,NaN,NaN,4.000000
75%,41.505388,-77.473390,NaN,NaN,5.000000
max,53.566245,115.164407,NaN,NaN,10.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21420 entries, 0 to 35740
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   address               21420 non-null  object
 1   categories            21420 non-null  object
 2   city                  21420 non-null  object
 3   country               21420 non-null  object
 4   latitude              21386 non-null  float64
 5   longitude             21386 non-null  float64
 6   name                  21420 non-null  object
 7   postalCode            21365 non-null  object
 8   province              21420 non-null  object
 9   reviews.date          21395 non-null  object
 10  reviews.dateAdded     21420 non-null  object
 11  reviews.doRecommend   0 non-null      float64
 12  reviews.id            0 non-null      float64
 13  reviews.rating        21370 non-null  float64
 14  reviews.text          21404 non-null  object
 15  reviews.title         21229 non-null  object
 16  reviews.userCity      7453 non-null   object
 17  reviews.username      21395 non-null  object
 18  reviews.userProvince  7883 non-null   object
dtypes: float64(5), object(14)
memory usage: 3.3+ MB

In [8]:
df[["reviews.doRecommend","reviews.id"]]

       reviews.doRecommend  reviews.id
0                      NaN         NaN
1                      NaN         NaN
2                      NaN         NaN
3                      NaN         NaN
4                      NaN         NaN
...                    ...         ...
35736                  NaN         NaN
35737                  NaN         NaN
35738                  NaN         NaN
35739                  NaN         NaN
35740                  NaN         NaN

[21420 rows x 2 columns]

In [9]:
df[["reviews.doRecommend","reviews.id"]].isna().mean()

reviews.doRecommend    1.0
reviews.id             1.0
dtype: float64

these two columns are completely nulls and have no information, but i will keep them, may be the new data will be not nulls

In [10]:
df.nunique()

address                   310
categories                  1
city                      265
country                     1
latitude                  308
longitude                 308
name                      299
postalCode                294
province                  111
reviews.date             1924
reviews.dateAdded         316
reviews.doRecommend         0
reviews.id                  0
reviews.rating             35
reviews.text            20563
reviews.title           13732
reviews.userCity         1191
reviews.username         7719
reviews.userProvince      207
dtype: int64

also the country column and categories column contains unique value, thus entropy zero, information almost zero

In [11]:
df.shape

(21420, 19)

In [12]:
df[df["categories"]!="Hotels"]     # rows that them categories is not "Hotels" to ensure that condition is satisfied

Empty DataFrame
Columns: [address, categories, city, country, latitude, longitude, name, postalCode, province, reviews.date, reviews.dateAdded, reviews.doRecommend, reviews.id, reviews.rating, reviews.text, reviews.title, reviews.userCity, reviews.username, reviews.userProvince]
Index: []

In [13]:
df.name.nunique()   #number of unique values of the "name" column

299

### AGGREGATION

In [14]:
# # the assignment didn't specify any aggregation kind, but i will use this one , i will use this in the indexer

# more optimal/faster one
df = pd.read_csv("../csv-files/just_hotels_catg.csv", index_col="name")
gendata = ({nam: [(row).to_dict() for _, row in df.loc[[nam]].T.items()]} for nam in df.index.unique())

# # bad/brevious example but the same result
# df = pd.read_csv("../csv-files/just_hotels_catg.csv")
# gendata= ({nam: [df[df.name==nam].iloc[row].to_dict() for row in range(len(df[df.name==nam]))]} for nam in df.name.unique())




# # the next is bad aggregation example, don't use it
# # i will not use this aggregation, as i think it's worse, cause it waste some information, but i implement it just as example, 

# # copy the shape of the df with empty rows
# ndf = df[df["categories"]!="Hotels"].copy()

# # copy the unique names to the ndf (new_df), to be able to make one row and only one for each hotel
# ndf.name = pd.Series(df.name.unique())

# # for each row(hotel) make list of each column values(this is example of aggregation i think of)
# for col in df.columns.drop("name"):
#     print(col)
#     ndf[col] = [df[df.name==nam][col].unique() for nam in ndf.name]
# ndf.shape

# 2- preparing for elasticsearch

In [41]:
# # activate the virtualenv ```conda activate <your_vertualenv>``` 
# !conda activate hm

# # and in the same cmd run `jupyter lab` or `jupyter notebook` then
# !python -m pip install elasticsearch
# !python -m pip install elasticsearch[async]

# # adding path to the environmet variables
# !set PYTHONPATH=r"C:\Users\huzyfa\Anaconda3\envs\hm\Lib\site-packages"

# # change to the elasticsearch directoy and also activate the same virtualenv
# !.\bin\elasticsearch.bat

!conda env list
# !conda info

# !where python

# conda environments:
#
base                     C:\Users\huzyfa\Anaconda3
hm                    *  C:\Users\huzyfa\Anaconda3\envs\hm

C:\Users\huzyfa\Anaconda3\lib\site-packages\requests\__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [16]:
from elasticsearch import Elasticsearch
from elasticsearch.helpers import bulk
# Password for the 'elastic' user generated by Elasticsearch
ELASTIC_PASSWORD = "GCsyyDNEQ_h3ebiT51-V"

# Create the client instance
es = Elasticsearch(
    "https://localhost:9200",
    ca_certs=r"C:\Users\huzyfa\Desktop\elasticsearch-8.1.0\config\certs\http_ca.crt",
    basic_auth=("elastic", ELASTIC_PASSWORD))

meta = {"_index": "x"
        , "_id": "hotels"
       }

# Successful response!
es.info()
# {'name': 'instance-0000000000', 'cluster_name': ...}

ObjectApiResponse({'name': 'DESKTOP-2MEUV6N', 'cluster_name': 'elasticsearch', 'cluster_uuid': 'l1tAH3iWRNCF1POUC17Ldw', 'version': {'number': '8.1.0', 'build_flavor': 'default', 'build_type': 'zip', 'build_hash': '3700f7679f7d95e36da0b43762189bab189bc53a', 'build_date': '2022-03-03T14:20:00.690422633Z', 'build_snapshot': False, 'lucene_version': '9.0.0', 'minimum_wire_compatibility_version': '7.17.0', 'minimum_index_compatibility_version': '7.0.0'}, 'tagline': 'You Know, for Search'})

In [17]:
es.ping()

True

In [18]:
# Elasticsearch.info(es)

In [19]:
# returns a list of all the cluster's indices
all_indices = es.indices.get_alias()
all_indices

C:\Users\huzyfa\AppData\Local\Temp/ipykernel_9536/3544920162.py:2: ElasticsearchWarning: this request accesses system indices: [.security-7], but in a future major version, direct access to system indices will be prevented by default
  all_indices = es.indices.get_alias()

ObjectApiResponse({'x': {'aliases': {}}, '.security-7': {'aliases': {'.security': {'is_hidden': True}}}})

In [20]:
t = [*gendata][1]
t

{'Studio 6': [{'address': '142 Park Place Us 181 Business At Park Pl',
   'categories': 'Hotels',
   'city': 'Kenedy',
   'country': 'US',
   'latitude': 28.793795,
   'longitude': -97.849655,
   'postalCode': '78119',
   'province': 'TX',
   'reviews.date': nan,
   'reviews.dateAdded': '2016-05-07T01:34:14Z',
   'reviews.doRecommend': nan,
   'reviews.id': nan,
   'reviews.rating': 0.0,
   'reviews.text': 'to share your opinion of this businesswith YP visitors across the United Statesand in your neighborhood',
   'reviews.title': nan,
   'reviews.userCity': nan,
   'reviews.username': 'write a review',
   'reviews.userProvince': nan},
  {'address': '7 E Wellsboro St',
   'categories': 'Hotels',
   'city': 'Mansfield',
   'country': 'US',
   'latitude': 41.807106,
   'longitude': -77.07787,
   'postalCode': '16933',
   'province': 'Canoe Camp',
   'reviews.date': nan,
   'reviews.dateAdded': '2016-05-05T12:40:00Z',
   'reviews.doRecommend': nan,
   'reviews.id': nan,
   'reviews.rating': 0.0,
   'reviews.text': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
   'reviews.title': nan,
   'reviews.userCity': nan,
   'reviews.username': 'xxxxxxxxxxxxxx',
   'reviews.userProvince': nan},
  {'address': '7 E Wellsboro St',
   'categories': 'Hotels',
   'city': 'Mansfield',
   'country': 'US',
   'latitude': 41.807106,
   'longitude': -77.07787,
   'postalCode': '16933',
   'province': 'Canoe Camp',
   'reviews.date': nan,
   'reviews.dateAdded': '2016-05-05T12:40:00Z',
   'reviews.doRecommend': nan,
   'reviews.id': nan,
   'reviews.rating': 0.0,
   'reviews.text': 'to share your opinion of this businesswith YP visitors across the United Statesand in your neighborhood',
   'reviews.title': nan,
   'reviews.userCity': nan,
   'reviews.username': 'write a review',
   'reviews.userProvince': nan}]}

In [73]:
doc = {
    "settings":{"number_of_shards": 1,
                "number_of_replicas": 0,
                "refresh_interval": 60},
    "Studio 6": [{'address': '142 Park Place Us 181 Business At Park Pl',
 'categories': 'Hotels',
 'city': 'Kenedy',
 'country': 'US',
 'latitude': 28.793795,
 'longitude': -97.849655,
 'name': 'Studio 6',
 'postalCode': '78119',
 'province': 'TX',
 'reviews.date': "2016-05-07T01:34:14Z",
 'reviews.dateAdded': '2016-05-07T01:34:14Z',
 'reviews.doRecommend': 0.0,
 'reviews.id': 0.0,
 'reviews.rating': 0.0,
 'reviews.text': 'to share your opinion of this businesswith YP visitors across the United Statesand in your neighborhood',
 'reviews.title': "nan",
 'reviews.userCity': "nan",
 'reviews.username': 'write a review',
 'reviews.userProvince': "nan"},                     
{'address': '142 Park Place Us 181 Business At Park Pl',
 'categories': 'Hotels',
 'city': 'Kenedy',
 'country': 'US',
 'latitude': 28.793795,
 'longitude': -97.849655,
 'name': 'Studio 6',
 'postalCode': '78119',
 'province': 'TX',
 'reviews.date': "2016-05-07T01:34:14Z",
 'reviews.dateAdded': '2016-05-07T01:34:14Z',
 'reviews.doRecommend': 0.0,
 'reviews.id': 0.0,
 'reviews.rating': 0.0,
 'reviews.text': 'to share your opinion of this businesswith YP visitors across the United Statesand in your neighborhood',
 'reviews.title': "nan",
 'reviews.userCity': "nan",
 'reviews.username': 'write a review',
 'reviews.userProvince': "nan"}]}
resp = es.index(index="x", id="hotels", document=doc)
resp

ObjectApiResponse({'_index': 'x', '_id': 'hotels', '_version': 4, 'result': 'updated', '_shards': {'total': 2, 'successful': 1, 'failed': 0}, '_seq_no': 13, '_primary_term': 2})

In [74]:
action = {
    '_index': 'x',
    '_id': 7,
    "settings":{"number_of_shards": 1,
                "number_of_replicas": 0,
                "refresh_interval": 60
                }
}
bulk(client=es, actions= doc)

BadRequestError: BadRequestError(400, 'action_request_validation_exception', 'Validation Failed: 1: index is missing;2: index is missing;')

In [64]:
raw_data = es.indices.get_mapping(index="x")
raw_data

ObjectApiResponse({'x': {'mappings': {'properties': {'Studio 6': {'properties': {'address': {'type': 'text', 'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}}, 'categories': {'type': 'text', 'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}}, 'city': {'type': 'text', 'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}}, 'country': {'type': 'text', 'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}}, 'latitude': {'type': 'float'}, 'longitude': {'type': 'float'}, 'name': {'type': 'text', 'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}}, 'postalCode': {'type': 'text', 'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}}, 'province': {'type': 'text', 'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}}, 'reviews': {'properties': {'date': {'type': 'date'}, 'dateAdded': {'type': 'date'}, 'doRecommend': {'type': 'float'}, 'id': {'type': 'float'}, 'rating': {'type': 'float'}, 'text': {'type': 'text', 'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}}, 'title': {'type': 'text', 'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}}, 'userCity': {'type': 'text', 'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}}, 'userProvince': {'type': 'text', 'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}}, 'username': {'type': 'text', 'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}}}}}}}}}})

In [23]:
raw_data['x']

{'mappings': {'properties': {'Studio 6': {'properties': {'address': {'type': 'text',
      'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}},
     'categories': {'type': 'text',
      'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}},
     'city': {'type': 'text',
      'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}},
     'country': {'type': 'text',
      'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}},
     'latitude': {'type': 'float'},
     'longitude': {'type': 'float'},
     'name': {'type': 'text',
      'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}},
     'postalCode': {'type': 'text',
      'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}},
     'province': {'type': 'text',
      'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}},
     'reviews': {'properties': {'date': {'type': 'date'},
       'dateAdded': {'type': 'date'},
       'doRecommend': {'type': 'float'},
       'id': {'type': 'float'},
       'rating': {'type': 'float'},
       'text': {'type': 'text',
        'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}},
       'title': {'type': 'text',
        'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}},
       'userCity': {'type': 'text',
        'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}},
       'userProvince': {'type': 'text',
        'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}},
       'username': {'type': 'text',
        'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}}}}}}}}}}

In [24]:
# i made number_of_replicas=0 due to my pc limitation
maps = {
        'mappings': 
             {'properties': 
                  {'hotel_name': {'properties': 
                                      {'address': {'type': 'text', 
                                                   'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}
                                                             }}, 
                                       'categories': {'type': 'text', 
                                                      'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}
                                                                }}, 
                                       'city': {'type': 'text', 
                                                'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}
                                                          }}, 
                                       'country': {'type': 'text', 
                                                   'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}
                                                             }},    
                                       'latitude': {'type': 'float'}, 
                                       'longitude': {'type': 'float'}, 
                                       'name': {'type': 'text', 
                                                'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}
                                                          }},    
                                       'postalCode': {'type': 'text', 
                                                      'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}
                                                                }},    
                                       'province': {'type': 'text', 
                                                    'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}
                                                              }}, 
                                       'reviews': 
                                               {'properties': {
                                                               'date': {'type': 'date'}, 
                                                               'dateAdded': {'type': 'date'}, 
                                                               'doRecommend': {'type': 'float'}, 
                                                               'id': {'type': 'float'}, 
                                                               'rating': {'type': 'float'}, 
                                                               'text': {'type': 'text', 
                                                                        'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}
                                                                                  }}, 
                                                               'title': {'type': 'text', 
                                                                         'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}
                                                                                   }}, 
                                                               'userCity': {'type': 'text', 
                                                                            'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}
                                                                                      }}, 
                                                               'userProvince': {'type': 'text', 
                                                                                'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}
                                                                                          }}, 
                                                               'username': {'type': 'text', 
                                                                            'fields': {'keyword': {'type': 'keyword', 'ignore_above': 256}
                                                                                      }}
                                               }}}}}}}

In [25]:
# results = es.search(index="x", query= {"match_all": {}}, size=100)#['hits']#['hits']
# results

In [26]:
# deleting the index "x" after getting the mapping from elstic search to reduce hand writing and mistake probability 
es.delete(index='x', id='hotels')

ObjectApiResponse({'_index': 'x', '_id': 'hotels', '_version': 2, 'result': 'deleted', '_shards': {'total': 2, 'successful': 1, 'failed': 0}, '_seq_no': 9, '_primary_term': 2})

In [27]:
# returns a list of all the cluster's indices
all_indices = es.indices.get_alias()
all_indices

C:\Users\huzyfa\AppData\Local\Temp/ipykernel_9536/3544920162.py:2: ElasticsearchWarning: this request accesses system indices: [.security-7], but in a future major version, direct access to system indices will be prevented by default
  all_indices = es.indices.get_alias()

ObjectApiResponse({'x': {'aliases': {}}, '.security-7': {'aliases': {'.security': {'is_hidden': True}}}})

In [28]:
# Create the client instance
es = Elasticsearch(
    "https://localhost:9200",
    ca_certs=r"C:\Users\huzyfa\Desktop\elasticsearch-8.1.0\config\certs\http_ca.crt",
    basic_auth=("elastic", ELASTIC_PASSWORD))

meta = {"_index": "hotels-index"
        , "_id": "hotels", 
        **maps
       }

In [47]:
# t

In [49]:
resp = es.index(index="xx", id="hotels", document=doc)
resp

ObjectApiResponse({'_index': 'xx', '_id': 'hotels', '_version': 3, 'result': 'updated', '_shards': {'total': 2, 'successful': 1, 'failed': 0}, '_seq_no': 2, '_primary_term': 1})

In [38]:
bulk(es, {t, **meta})

SyntaxError: invalid syntax (Temp/ipykernel_9536/2904883714.py, line 1)

### preparing for IBM-Watson tone analyzer

i stop working on this feature as the documentation mentioned that the tone analyzer is unavailable for new users from 24-feb2022, 
and in the Deprecation state for the the current users for one year

### preparing flask

In [39]:
# # in the terminal run these lines

# # install flask
# pip install flask Flask-RESTful

# # set the script of the api
# set FLASK_APP=flask_api.py

# # set the debug mode to be able to see the changes in the api without reloading the server
# set FLASK_DEBUG=1